
body{background-color: rgb(0, 0, 0);}

.todo{
    box-shadow: 0 0 10px #1E201E;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-form{
    box-shadow: 0 0 10px #3C3D37;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input,select{
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #3C3D37;
    border-radius: 3px;
    width: 100%;
}

.filter-options{
    box-shadow: 0 0 10px #676862;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 12px;
}